<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.boss.product.dao.BrandTagsMapper">
    <resultMap id="baseMap" type="com.d2c.boss.product.model.BrandTags">
        <id column="id" property="id" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate"  />
        <result column="last_modify_man" property="lastModifyMan" />
        <result column="creator" property="creator" />
        
        <result column="name" property="name"  />
        <result column="status" property="status"  />
    </resultMap>

   <select id="countBrandTagsByQuery" resultType="Integer">
       SELECT count(*) FROM crm_brand_tags b WHERE 1=1
        <if test="query != null">
			<include refid="Searcher" />
		</if>		
   </select>

    <select id="findBrandTagsByQuery" resultMap="baseMap">
        SELECT * FROM crm_brand_tags b WHERE 1=1
        <if test="query != null">
			<include refid="Searcher" />
		</if>	
			ORDER BY b.modify_date
            LIMIT #{pager.startNumber}, #{pager.pageSize}
    </select>

	<sql id="Searcher">
		<if test="query != null">		
			<if test="query.startModifyTime != null">
				AND b.modify_date &gt; #{query.startModifyTime}
			</if>
			<if test="query.endModifyTime != null">
				AND b.modify_date &lt; #{query.endModifyTime}
			</if>
		</if>
	</sql>
	
	<select id="getLastSysDate" resultType="Date">
      select max(modify_date) from crm_brand_tags
   </select>
</mapper>







