<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.boss.member.dao.CouponMapper">
    <resultMap id="baseMap" type="com.d2c.boss.member.model.Coupon">
        <id column="id" property="id" />
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"  />
        <result column="last_modify_man" property="lastModifyMan" />
        <result column="creator" property="creator" />
        
        <result column="name" property="name"  />
        <result column="code" property="code" />
        <result column="amount" property="amount"  />
        <result column="type" property="type" />
        <result column="login_code" property="loginCode" />
        <result column="enable_date" property="enableDate"  />
        <result column="expire_date" property="expireDate" />
        <result column="status" property="status"  />
        <result column="remark" property="remark"  />
        <result column="define_id" property="defineId"  />
    </resultMap>

   <select id="countCouponsByQuery" resultType="Integer">
       SELECT count(*) FROM crm_coupon b WHERE 1=1
        <if test="query != null">
			<include refid="Searcher" />
		</if>		
   </select>

    <select id="findCouponsByQuery" resultMap="baseMap">
        SELECT * FROM crm_coupon b WHERE 1=1
        <if test="query != null">
			<include refid="Searcher" />
		</if>	
			ORDER BY b.modify_date
            LIMIT #{pager.startNumber}, #{pager.pageSize}
    </select>

	<sql id="Searcher">
		<if test="query != null">		
			<if test="query.startModifyTime != null">
				AND b.modify_date &gt; #{query.startModifyTime}
			</if>
			<if test="query.endModifyTime != null">
				AND b.modify_date &lt; #{query.endModifyTime}
			</if>
		</if>
	</sql>
	
	<select id="getLastSysDate" resultType="Date">
      select max(modify_date) from crm_coupon
   </select>
   
</mapper>







