<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.boss.online.dao.OnlineOrderItemMapper">
    <resultMap id="baseMap" type="com.d2c.boss.online.model.OnlineOrderItem">
        <id column="id" property="id" />
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"  />
        <result column="last_modify_man" property="lastModifyMan" />
        <result column="creator" property="creator" />
        
        <result column="order_sn" property="orderSn" />
        <result column="product_sn" property="productSn" />
        <result column="product_name" property="productName"  />
        <result column="product_img" property="productImg" />
        <result column="leaf_category" property="leafCategory" />
        <result column="quantity" property="quantity"  />
        <result column="original_price" property="originalPrice" />
        <result column="coupon_amount" property="couponAmount"  />
        <result column="order_promotion_amount" property="orderPromotionAmount" />
        <result column="sale_price" property="salePrice"  />
        <result column="sale1" property="sale1" />
        <result column="sale2" property="sale2" />
        <result column="product_sku_sn" property="productSkuSn" />
        <result column="brand_name" property="brandName"  />
        <result column="brand_code" property="brandCode" />
        <result column="shop_code" property="shopCode"  />
        <result column="shop_name" property="shopName" /> 
        <result column="promotion_amount" property="promotionAmount" /> 
        <result column="up_status" property="upStatus" />
        <result column="source_id" property="sourceId" />
        <result column="status" property="status" />
    </resultMap>

	<select id="getLastSysDate" resultType="Date">
      select max(modify_date) from online_orderitem
   </select>
   
    <update id="updateStatus">
   		update online_orderitem set up_status=1 where up_status=0
   </update>
   
    <update id="upStatusBySn">
   		update online_orders set up_status=#{status} where sn=#{orderSn} 
   </update>
   
   <insert id="insertNewToOrderItems"> 
	INSERT INTO temp_orderitem (
		create_date,
		modify_date,
		last_modify_man,
		creator,
		order_sn,
		product_sn,
		product_name,
		product_img,
		leaf_category,
		quantity,
		original_price,
		sale_price,
		sale1,
		sale2,
		product_sku_sn,
		brand_name,
		brand_code,
		shop_code,
		shop_name,
		promotion_amount
	) SELECT
		create_date,
		modify_date,
		last_modify_man,
		creator,
		order_sn,
		product_sn,
		product_name,
		product_img,
		leaf_category,
		quantity,
		original_price,
		sale_price,
		sale1,
		sale2,
		product_sku_sn,
		brand_name,
		brand_code,
		shop_code,
		shop_name,
		promotion_amount
	FROM
		online_orderitem
	WHERE
		up_status = 1
   </insert>
   
   <select id="countModifyOnlineOrderItems" resultType="Integer">
      select count(*) from online_orderitem where up_status = 2 
   </select>
   
   <select id="findModifyOnlineOrderItems" resultMap="baseMap">
      select * from online_orderitem where up_status = 2 
      LIMIT #{pager.startNumber}, #{pager.pageSize}
   </select>  
   
</mapper>







