<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.member.dao.MemberTaskMapper">
	
	<update id="updateExecStart">
		UPDATE m_member_task SET exec=1
		WHERE exec=0
		and start_time is not null and start_time &lt;= NOW()
		and end_time is not null and end_time &gt;= NOW()
	</update>
	
	<update id="updateExecEnd">
		UPDATE m_member_task SET exec=0
		WHERE exec=1
		and end_time is not null and end_time &lt;= NOW()
	</update>
	
</mapper>